extends layout

block content
  h1 HandBuilder

  div.form_container 
    label Your hand
      br
      br
      input(type='text' id='txt_hand' placeholder='What are your cards?')
      br
      br
      button#get_hand Get hand

  div.description_container 
    p You can also submit a POST request directly to root (http://localhost:3000) to receive a response as JSON
    br
    p Example request: 
      br 
      br
      span.example {'hand':'2H, 3H, 4H, 5H, 6H'}
    

